body {
    font-family: Arial, sans-serif;
    align-items: flex-start;
    text-align: center;
    background-color: #ffffff;
    width: 600px;
    margin-left: 20px;
}

.container-1 {
    width: 100%;
    margin: auto;
    background: white;
    padding: 20px;
    line-height: 0.6;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container-2 {
    width: 100%;
    margin: auto;
    margin-top: 20px;
    background: rgb(241, 245, 231);
    font-family: Arial, sans-serif;
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container-3 {
    width: 100%;
    margin: auto;
    margin-top: 20px;
    background: lightblue;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    vertical-align: center;
}

.hidden {
    display: none;
}

#question-box {
    font-size: 32px;
    font-weight: bold;
    margin: 20px 0;
    display: flex;
   justify-content: space-evenly;
}

.feedback {
    text-align: center;
    line-height: 1.4;
}

input {
    padding: 10px;
    width: 30%;
    font-size: 32px;
    text-align: center;
}



.container-4 {
    width: 100%;
    margin: auto;
    margin-top: 20px;
    padding: 20px;
    display: flex;
    align-items: flex-start; /* Aligns everything to the left */
    background: rgb(222, 246, 222);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    justify-content: center;
    align-items: center;
}



#timerOptions {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Adds spacing */
    align-items: center;
    text-align: center;
    justify-content: flex-start; /* Aligns radio buttons to the left */
}

#timerOptions label {
    margin-right: 15px; /* Adds spacing between radio buttons */
}

button {
    padding: 10px 15px;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    background: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background: #0056b3;
}

.scoreboard {
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
    
}



#certificate {
    margin-top: 20px;
    padding: 20px;
    background: rgb(255, 255, 255);
    display: block;
    width: 80%;
    margin: 20px auto;
    border: 15px double gold; /* Elegant gold border */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}
